<!--
    Copyright (C) 2010 Viral Patel
    Copyright (C) 2011 9Apps.net

    This file is part of hystqio.

    hystqio is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    hystqio is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with hystqio. If not, see <http://www.gnu.org/licenses/>.
-->

<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://hystqio.ci4mdwjbt4nk.us-east-1.rds.amazonaws.com:3306/hystqio
		</property>
		<property name="connection.username">hystq</property>
		<property name="connection.password">Chah5Eij</property>

		<property name="connection.pool_size">1</property>

		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="current_session_context_class">thread</property>

		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<property name="show_sql">true</property>

		<property name="hbm2ddl.auto">update</property>

		<mapping class="net.nineapps.hystqio.model.Link" />
	</session-factory>

</hibernate-configuration>
